<!doctype html>
<html>
    {% load static %}
<head>
    <title>signin</title>
    <link rel="stylesheet" href='{% static "signup.css" %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <script src="https://use.fontawesome.com/77f6cff6b8.js"></script>    
</head>
<!-- <body >
    <div class="page" style="position: fixed;top:0%;left:0%;width:100%;height:100%;background:white;">
    <div class="top_nav"> -->
        <!-- <link rel="icon" type="image/png" href="{% static 'consultadd_logo.png' %}"> -->
<!--        <img src='{% static "consultadd_logo.png" %}'/>
     </div>
       <div style="width: 50%; height: 800px; float: left">
             <img align="right" src='{% static "food2-0.jpg" %}'>
        </div>
            <div style="margin-left: 50%; height: 800px;">
                <div class="box">
                    <h1>Sign In!</h1>
                    <form name="form1" action="{% url 'getu' %}" > -->
                        <!-- <input type="text" name="username" placeholder="Username"/> -->
<!--                        <input class="mail" type="email" name="email" placeholder="Email"/>
                        <input type="password" id="psw" name="password" placeholder="Enter your password">  -->
                        <!-- <input type="password" name="repeat_password" placeholder="Repeat your password"/><br> -->
<!--                        <input class="btn btn-success pb-0 pt-0" type="submit" name="signup_submit" value="Sign In"/><br>
                    </form>
                    <p class="mt-2">Login with</p>
                    <button class="btn btn-primary facebook_btn"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                        facebook</button>
                    <button class="btn btn-danger google_btn"><i class="fa fa-google" aria-hidden="true"></i>
                        Google</button>
                </div>
            </div>
    </div>
    <script src='{% static "signup.js" %}'></script>
 </body> -->
 <body style="background-color:rgb(240, 240, 240);">
    <nav class="navbar navbar-expand-sm bg-white">        
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src='{% static "consultadd_logo.png" %}' height="50"></a>
        </div>
    </nav>
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <img align="right" style="max-width: 100%; height:auto;" width=900 src='{% static "food2.jpg" %}'>
        </div>
        <div class="col-xl-1 col-lg-1"></div>
        <div class="col-xl-4 col-lg-4">
            <div class="box" align=center style="margin-top: 30%; ">
                <h1>Sign In!</h1>
                <form  class="form-vertical pt-4" name="form1" action="{% url 'getu' %}" >
                    <!-- <div class="form-group"><input type="text" name="username" placeholder="Username"/></div>-->
                    <div class="form-group"><input class="mail" type="email" name="email" placeholder="Email"/></div>
                    <div class="form-group pb-4"><input type="password" id="psw" name="password" placeholder="Enter your password"></div>
                    <!-- <div class="form-group"><input type="password" name="repeat_password" placeholder="Repeat your password"/></div><br> -->
                    <input class="form-group btn btn-success px-5" type="submit" name="signup_submit" value="Sign In"/><br>
                    <p align=center><font style="color: gray;">Don't have an account? </font><a href="{% url 'display' %}"><font style="color: red;font-weight: bold;">Sign up</font></a></p>
                    <p class="from-group mt-2">Login with</p>
                    <button class="from-group btn btn-primary facebook_btn"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                        facebook</button>
                    <button class="from-group btn btn-danger google_btn"><i class="fa fa-google" aria-hidden="true"></i>
                        Google</button>
                </form>
                
            </div>
        </div>
    </div>
 </body>
</html>